export( "artificial.data",
"clusterSelect",
"logLike.pars",
"predict.archetype",
"SpeciesMix",
"SpeciesMix.em.gaussian")
import( MASS)
import( stats)
import( numDeriv)
S3method( "predict", "archetype")

