export( "artificial.data",
"clusterSelect",
"logLike.pars",
"predict.archetype",
"print.archetype",
"SpeciesMix")
import( MASS)
import( stats)
import( numDeriv)
S3method( "print", "archetype")
S3method( "predict", "archetype")

